  <nav class="navbar is-dark row">
    <!-- logo -->
    <div class="navbar-brand col-3">
      <a class="navbar-item" (click)="goToMainPage()">
        <img  height="50" src="assets/img/angular-logo.png">
      </a>
    </div>
    <!-- menu -->
    <div class="navbar-menu col-5">
      <div class="navbar-start">
        <a class="navbar-item" routerLink=""> Home </a>
        <a class="navbar-item" routerLink="table"> Users</a>
        <a class="navbar-item" routerLink="product-table"> Products</a>
      </div>
    </div>

    <div class="navbar-collapse col-3">
        <a class="navbar-item" id="collapse" routerLink=""> Olá! Bem-Vindo </a>
        <div ngbDropdown class="d-inline-block" id="teste">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> 
                <mat-icon id="teste">reorder</mat-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button 
                routerLink="/user" 
                routerLinkActive="active" 
                ngbDropdownItem>
                <mat-icon>person</mat-icon>Cadastrar Usuários
              </button>
              <button
                routerLink="/table" 
                routerLinkActive="active" 
                ngbDropdownItem>
                <mat-icon class="cards">person</mat-icon>Listar Usuários
              </button>
              <button 
              routerLink="/product" 
              routerLinkActive="active" 
              ngbDropdownItem>
              <mat-icon class="cards">qr_code</mat-icon>Cadastrar Produtos
            </button>
            <button
              routerLink="/product-table" 
              routerLinkActive="active" 
              ngbDropdownItem>
              <mat-icon class="cards">qr_code</mat-icon>Listar Produtos
            </button>
            </div>
        </div> 
    </div>
  </nav>