<form class="form-group">   
    <div class="row">
        <div class="col-md-4 container">
            <div class="row form-group containerHeader">
                <div class="md-6 input-group">
                    <label>Usuários</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Lista</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Cadastro</label>
                </div>
            </div>      
        </div>
        <div class="col-md-4 container">
            <div class="row form-group containerHeader">
                <div class="md-6 input-group">
                    <label>Produtos</label>
                </div>
            </div>
            <div class="row form-group">
                <label> \ em Desenvolvimento... \ </label>
            </div>    
        </div>
    </div>
</form> 